:root {
	--font-size-x-small:  0.75rem;
  --font-size-small:    0.875rem;
  --font-size-medium:   1rem;
  --font-size-large:    1.25rem;
  --font-size-x-large:  1.5rem;
  --font-size-xx-large: 2rem;
}

@media screen and (min-width: 769px) {
  :root {
    --font-size-x-small:  0.75rem;
    --font-size-small:    1rem;
    --font-size-medium:   1.125rem;
    --font-size-large:    1.5rem;
    --font-size-x-large:  2rem;
    --font-size-xx-large: 3rem;
  }
}