.footer {
  align-items: center;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  justify-content: space-between;
  padding-bottom: var(--spacing-xx-large);
  padding-top: var(--spacing-xx-large);
}

.footer__links {
  display: flex;
  gap: var(--spacing-medium);

  @media screen and (min-width: 769px) {
    gap: var(--spacing-large);
  }
}

.footer__link {
  font-size: var(--font-size-small);
}

.footer__message {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  white-space: nowrap;
}
