.header {
	align-items: center;
	display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-large);

  @media screen and (min-width: 600px) {
    gap: var(--spacing-large);
  }
}

.header__brand {
	align-items: center;
	display: flex;
	gap: var(--spacing-small);
  margin-inline-end: auto;
  text-decoration: none;
}

.out-of-step {
  height: 18px;
  width: 24px;
}

.header__title {
  display: none;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;

  @media screen and (min-width: 600px) {
    display: initial;
  }
}

.header__nav {
  align-items: center;
  display: flex;
  gap: var(--spacing-medium);

  @media screen and (min-width: 769px) {
    gap: var(--spacing-large);
  }
}

.header__nav-link {
  font-size: var(--font-size-medium);
}
