.intro {
  border-bottom: 1px solid var(--color-border);
  margin-block-end: var(--spacing-section);
  padding-block-start: var(--spacing-section);
  padding-block-end: var(--spacing-section);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.intro--writing {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-x-large);
}

.home {
  .intro {
    padding-block-start: var(--spacing-section-large);
    padding-block-end: var(--spacing-section-large);
  }

  .intro__heading {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-large);
    max-width: 45ch;
  }
}

.intro__heading {
  line-height: var(--line-height-small);
}

.intro__subheading {
  color: var(--color-text-secondary);
  font-size: var(--font-size-large);
  line-height: var(--line-height-medium);
  max-width: 60ch;
}

.intro__link {
  font-size: var(--font-size-medium);
  word-break: break-word;
}

.intro__metadata {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.intro__date,
.intro__updated-date {
  color: var(--color-text-secondary);
}

.intro__updated-date {
  font-size: var(--font-size-small);
}
