.chart {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-gap: var(--spacing-x-small);
}

.chart__month {
  aspect-ratio: 1;
  background-color: var(--color-text-primary);
  border-radius: var(--border-radius-small);
  height: 0.25rem;
  width: 0.25rem;

  // The first ever post was in June 2016 so when the months are laid out in rows of 12, we need 5 empty ones at the start.
  &:first-child {
  	grid-column-start: 6;
  }
}
