{{ define "main" }}
<section class="intro">
    <h1 class="intro__heading">{{ .Title }}</h1>
    {{ if .Params.subtitle }}
    <p class="intro__subheading">{{ .Params.subtitle }}</p>
    {{ end }}

    <div class="intro__metadata">
        <time datetime="{{ .Date }}" class="intro__date">
            {{ .Date.Day }} {{ .Date.Month.String }} {{ .Date.Year }}
        </time>
        <ul class="tag-list">
            {{ range .Params.tags }}
            <li class="tag">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</section>

<article class="article">
    {{ .Content }}
</article>

{{ end }}
